//- Все примеси в этом файле должны начинаться c имени блока (news)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin news(data, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +news({    {
          "dateDay": "23",
          "dateMouth": "Jan",
          "img": "news-img--1.jpg",
          "title": "text",
          "text": "text",
          "link": "#"
        },}, "some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " news--" + modsList[i].trim();
      }
    }

  .news(class=allMods)&attributes(attributes)
    .news__img-wrapper
      img.news__img(src= path.img + data.img, alt= data.title)
      .news__date
        span.news__date-day= data.dateDay
        span.news__date-month= data.dateMonth
    .news__description
      h3.news__title= data.title
      p.news__text= data.text
      a.news__link(href= data.link)
        | Read More
        svg.news__link-icon: use(href= path.icon + "icon__arrow")
