head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=3, minimum-scale=0.1")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")

  if (process.env.MODE === "deploy")
    base(href= deployUrl)

  meta(name="format-detection", content="telephone=no")
  meta(name="format-detection", content="date=no")
  meta(name="format-detection", content="address=no")
  meta(name="format-detection", content="email=no")
  meta(name="google", content="notranslate")
  meta(name="HandheldFriendly", content="true")
  meta(name="robots", content="index, follow")

  //- fonts preload
  link(rel="preload", href=path.fonts + "Inter-Regular.woff2", as="font", type="font/woff2", crossorigin="anonymous")

  //- favicon
  link(rel="icon", sizes="32x32", href=path.img + "favicon/favicon.ico")
  link(rel="icon", type="image/svg+xml", href=path.img + "favicon/favicon.svg")
  link(rel="apple-touch-icon", href=path.img + "favicon/apple-touch-icon.png")
  link(rel="manifest", href=path.img + "favicon/site.webmanifest")
  meta(name="theme-color", content="#000000")

  //- open graph
  meta(property="og:type", content="website")
  meta(property="og:title", content="og:title")
  meta(property="og:image", content= href = path.img + "favicon/apple-touch-icon-180x180.png")
  meta(property="og:description", content="og:description")
  meta(property="vk:image", content=href = path.img + "favicon/logo-vk.png")

  title= pageTitle

  block meta
    meta(name="description", content=metaDescription)
    meta(name="keywords", content=metaKeywords)

  block head
    link(rel="stylesheet", href=path.css + "style.css")
    if isLibrary
      link(rel="stylesheet", href=path.css + "library.css")
    script: include ../js/head-script.js
