mixin star-rating(rating, text, mods)
  //- Принимает:
  //-   rating    {number} - значение рейтинга
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +star-rating(5, "5.0")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " star-rating--" + modsList[i].trim();
      }
    }

  .star-rating(class=allMods)&attributes(attributes)
    - var fullStars = Math.floor(rating)
    - var halfStars = Math.round(rating - fullStars)
    - var emptyStars = 5 - fullStars - halfStars
    each starNumber in [1, 2, 3, 4, 5]
      if starNumber <= fullStars
        svg.star-rating__star.star-rating__star--full
          use(href=path.icon + 'icon__star')
      else if starNumber === fullStars + 1 && halfStars === 1
        svg.star-rating__star.star-rating__star--halfed
          use(href=path.icon + 'icon__star')
      else
        svg.star-rating__star
          use(href=path.icon + 'icon__star')
    if text
      span.star-rating__text= text
