extends ../templates/template__default.pug

block variables
  - isMainPage = false
  - pageTitle = "Shopery"
  - metaDescription = "Shopery description"
  - metaKeywords = "Shopery eywords"

block content
  .hero.container
    .swiper.hero.js-hero-slider
      .swiper-wrapper
        each slide in json.info.hero
          .swiper-slide.hero__slide
            .hero__img-container
              img.hero__img(src= path.img + slide.img, alt="slide")
            .hero__description
              span.hero__note= slide.note
              h2.hero__title= slide.title
              p.hero__text= slide.text
              +button("button", "", "fill, large").arrow-btn.hero__button
                span.arrow-btn__text Shop now
                svg.arrow-btn__icon: use(href= path.icon + "arrow")
    .swiper-pagination
    .hero__navigation
      button.button-round.button-round--white-green.hero__navigation-button.hero__navigation-button--prev
        svg.button-round__icon: use(href= path.icon + "arrow")
      button.button-round.button-round--white-green.hero__navigation-button.hero__navigation-button--next
        svg.button-round__icon: use(href= path.icon + "arrow")

    .hero__advantages.advantages
      each advantage in json.info.advantages
        .advantages__item
          .advantages__icon-wrapper
            svg.advantages__icon: use(href= path.icon + advantage.icon)
          h3.advantages__title= advantage.title
          p.advantages__text= advantage.text


  .section
    .container
      h2.section__title Introducing Our Products
      .tabs
        .tabs__labels
          button.tabs__label.tabs__label--active(data-href="#tab1") Таб 1
          button.tabs__label(data-href="#tab2") Таб 2
          button.tabs__label(data-href="#tab3") Таб 3
        .tabs__panes
          .tabs__pane.tabs__pane--active#tab1 Содержимое, таб 1
          .tabs__pane#tab2 Содержимое, таб 2
          .tabs__pane#tab3 Содержимое, таб 3

  .container

    style.
      .d-flex {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 40px;
      }


    h2 Buttons
    .d-flex
      +button("button", "Small Fill", "fill, small")
      +button("button","Small Border", "border, small")
      +button("button","Small Ghost", "grey, small")

      +button("button","Medium Fill", "fill, normal")
      +button("button","Medium Border", "border, normal")
      +button("button","Medium Ghost", "grey, normal")

      +button("button","Large Fill", "fill, large")
      +button("button","Large Border", "border, large")
      +button("button","Large Ghost", "grey, large")

    h2 Icon Buttons
    .d-flex
      +button("button", "", "fill, small")(class="arrow-btn")
        span.arrow-btn__text Small Fill
        svg.arrow-btn__icon: use(href= path.icon + "arrow")
      +button("button", "", "fill, normal")(class="arrow-btn")
        span.arrow-btn__text Medium Fill
        svg.arrow-btn__icon: use(href= path.icon + "arrow")
      +button("button", "", "fill, large")(class="arrow-btn")
        span.arrow-btn__text Large Fill
        svg.arrow-btn__icon: use(href= path.icon + "arrow")


    h2 close button
    .d-flex
      button.close-button
        svg.close-button__icon: use(href= path.icon + "cross")

    h2 round buttons
    .d-flex
      button.button-round.button-round--primary
        svg.button-round__icon: use(href= path.icon + "cart")
      button.button-round.button-round--like
        svg.button-round__icon: use(href= path.icon + "heart")
      button.button-round.button-round--white-green
        svg.button-round__icon: use(href= path.icon + "eye")
      button.button-round.button-round--ghost
        svg.button-round__icon: use(href= path.icon + "facebook")

    h2 Product small
    .d-flex
      +product-small

    h2 Product
    .d-flex
      +product

    h2 Product Large
    .d-flex
      +product-large

    h2 checkbox
    .d-flex
      +checkbox("checkbox", "", "checkbox")
      span
        +radio("radio", "", "1","1")
        +radio("radio", "", "2","2")

    h2 Inputs
    .d-flex
      +field("text", "text", "text", "", "", true)
