extends ../templates/template__default.pug

block variables
  - isMainPage = true
  - pageTitle = "Shopery"
  - metaDescription = "Shopery description"
  - metaKeywords = "Shopery eywords"

block content
  .hero.container
    .hero__slider
      .swiper.js-hero-slider
        .swiper-wrapper.hero__slider-wrapper
          each slide in json.info.hero
            .swiper-slide.hero__slide
              .hero__img-container
                img.hero__img(src= path.img + slide.img, alt="slide")
              .hero__description
                span.hero__note= slide.note
                h2.hero__title= slide.title
                p.hero__text= slide.text
                +button("button", "", "fill, large").icon-button.hero__button
                  span.icon-button__text Shop now
                  svg.icon-button__icon: use(href= path.icon + "icon__arrow")
      .hero__swiper-pagination
      .hero__navigation
        button.button-round.button-round--white-green.hero__navigation-button.hero__navigation-button--prev
          svg.button-round__icon: use(href= path.icon + "icon__arrow")
        button.button-round.button-round--white-green.hero__navigation-button.hero__navigation-button--next
          svg.button-round__icon: use(href= path.icon + "icon__arrow")

  .advantages
    .advantages__container.container
      each advantage in json.info.advantages
        .advantages__item
          .advantages__icon-wrapper
            svg.advantages__icon: use(href= path.icon + advantage.icon)
          h3.advantages__title= advantage.title
          p.advantages__text= advantage.text


  .section.section--green.products-tabs
    .container
      h2.section__title Introducing Our Products
      .tabs.section__content
        .tabs__labels
          .tabs__scroll-container
            button.tabs__label.tabs__label--active(data-href="#tab1") All
            button.tabs__label(data-href="#tab2") Vegetable
            button.tabs__label(data-href="#tab3") Fruit
            button.tabs__label(data-href="#tab4") Meat & Fish
            button.tabs__label(data-href="#tab5") View All
        .tabs__panes
          .tabs__pane.tabs__pane--active#tab1
            .grid.grid__four-items.products-tabs__items.products-tabs__items--desktop
              each product in json.info.products
                +product-large(product)(class="products-tabs__item")
            .products-tabs__items--mobile.mobile-slider
              .swiper.mobile-slider__slider.js-mobile-slider
                .swiper-wrapper.mobile-slider__wrapper
                  each product in json.info.products
                    .swiper-slide.mobile-slider__slide
                      +product-large(product)
                .mobile-slider__pagination.swiper-pagination

          .tabs__pane#tab2
            .grid.grid__four-items.products-tabs__items.products-tabs__items--desktop
              each product in json.info.products
                +product-large(product)
            .products-tabs__items--mobile.mobile-slider
              .swiper.mobile-slider__slider.js-mobile-slider
                .swiper-wrapper.mobile-slider__wrapper
                  each product in json.info.products
                    .swiper-slide.products-tabs__slide
                      +product-large(product)
                .mobile-slider__pagination.swiper-pagination
          .tabs__pane#tab3 Содержимое, таб 3
          .tabs__pane#tab4 Содержимое, таб 4
          .tabs__pane#tab5 Содержимое, таб 5

  .section
    .container.grid.grid__three-items.d-desktop
      each banner in json.info.banners
        +banner-s(banner, banner.type)

    .container.mobile-slider.d-mobile
            .swiper.mobile-slider__slider.js-mobile-slider
              .swiper-wrapper.mobile-slider__wrapper
                each banner in json.info.banners
                  .swiper-slide
                    +banner-s(banner, banner.type)
              .mobile-slider__pagination.swiper-paginationprocess

  .section.section--green.best-deals
    .best-deals__container
      p.best-deals__subtitle Best Deals
      h2.best-deals__title Our Special Products Deal of the Month
      .best-deals__counter.js-counter(data-end="2024-02-17T03:24:00")
        .best-deals__counter-item
          span.best-deals__counter-value.js-counter-days 01
          span.best-deals__counter-description Days
        span.best-deals__counter-separator :
        .best-deals__counter-item
          span.best-deals__counter-value.js-counter-hours 23
          span.best-deals__counter-description Hours
        span.best-deals__counter-separator :
        .best-deals__counter-item
          span.best-deals__counter-value.js-counter-minutes 34
          span.best-deals__counter-description Mins
        span.best-deals__counter-separator :
        .best-deals__counter-item
          span.best-deals__counter-value.js-counter-seconds 57
          span.best-deals__counter-description Secs
      +button("link", "", "fill, normal")(class="icon-button best-deals__btn")
        span.icon-button__text Shop now
        svg.icon-button__icon: use(href= path.icon + "icon__arrow")


  .section
    .container
      h2.section__title Featured Products
      .section__content
        .grid.grid__five-items.d-desktop
          each product in json.info.featuredProducts
            +product(product)
        .mobile-slider.d-mobile
          .swiper.mobile-slider__slider.js-mobile-slider
            .swiper-wrapper.mobile-slider__wrapper
              each product in json.info.products
                .swiper-slide.mobile-slider__slide
                  +product(product)
            .mobile-slider__pagination.swiper-pagination

  .section.section--green
    .container
      h2.section__title What our Clients Says
      .section__content
        .grid.grid__three-items.d-desktop
         each review in json.info.reviews
           +review(review)
        .mobile-slider.d-mobile
          .swiper.mobile-slider__slider.js-mobile-slider
            .swiper-wrapper.mobile-slider__wrapper
              each review in json.info.reviews
                .swiper-slide.mobile-slider__slide
                  +review(review)
            .mobile-slider__pagination.swiper-pagination
