//- Все примеси в этом файле должны начинаться c имени блока (field)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin field( hint, labelText, mods, isSearch)

  //- Принимает:
  //-   hint     {string} - плэйсхолдер
  //-   labelText     {string} - label
  //-   isSearch     {boolean} - search input
  //-   mods     {string} - список модификаторов
  //- Вызов:
    +field("placeholder", "labelText","mods", true )

  -
    //- список модификаторов
    var allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' field--' + modsList[i].trim();
      }
    }

  label.field(class=allMods + ' field--' + type)
    if labelText
      span.field__label= labelText
    if isSearch
      input.field__input.field__input--search(type="text", name=fieldName, placeholder=hint)&attributes(attributes)
      svg.field__search-icon: use(href= path.icon + "icon__search")
    else
      input.field__input.field__input--text(type=type, name=fieldName, placeholder=hint)&attributes(attributes)



