//- Все примеси в этом файле должны начинаться c имени блока (field)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin field(type, fieldName, hint, mods)

  //- Принимает:
  //-   type    {string} - тип поля
  //-   fieldName    {string} - имя поля
  //-   hint     {string} - плэйсхолдер
  //-   options     {string} - список опций select
  //-   mods     {string} - список модификаторов
  //- Вызов:
    +field("type", "input name", "placeholder", "mods")

  -
    //- список модификаторов
    var allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' field--' + modsList[i].trim();
      }
    }

  label.field(class=allMods + ' field--' + type)
    case type
      when "text"
        input.field__input.field__input--text(type=type, name=fieldName, placeholder=hint)&attributes(attributes)
      when "search"
        input.field__input.field__input--search(type="text", name=fieldName, placeholder=hint)&attributes(attributes)
        svg.field__search-icon: use(href= path.icon + "icon__search")

