//- Все примеси в этом файле должны начинаться c имени блока (header)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin header(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header("some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " header--" + modsList[i].trim();
      }
    }

  header.header(class=allMods)&attributes(attributes)
    .header__top
      .header__content.container
        .header__top-location
          svg.header__top-location-icon: use(href= path.icon + "icon__map-pin")
          span.header__top-location-text Store Location: Lincoln- 344, Illinois, Chicago, USA
        .header__actions
          .header__dropdowns
            +dropdown("Eng", ["Eng", "De"])
            +dropdown("USD", ["USD", "EUR"])
          .header__actions-separator
          .header__auth
            a.header__auth-link(href="#") Sign in
            span.header__auth-separator /
            a.header__auth-link(href="#") Sign up

    .header__middle.container
      button.header__mobile-burger.js-mobile-menu-btn
        span.burger-button
      if isMainPage
        +logo(class="header__logo")
        +logo("mini", true)(class="header__logo-mobile")
      else
        a.header__logo-link(href="/")
          +logo(class="header__logo")
          +logo("mini", true)(class="header__logo-mobile")
      .header__search.d-desktop
        +search-form(class="js-header-search-form")
      .header__navbar
        .header__favorite
          a.header__favorite-link(href="#")
            svg.header__favorite-icon: use(href= path.icon + "icon__heart")
        span.header__navbar-separator
        .header__cart
          a.header__cart-link(href="#")
            svg.header__cart-icon: use(href= path.icon + "icon__cart")
            span.header__cart-items-amount 2
          .header__cart-info
            span.header__cart-title Shopping cart:
            span.header__cart-amount $57.00

    nav.header__navigation
      .container
        .header__content
            .header__navigation-content
              .header__all-categories
                button.header__all-categories-button.js-header-all-categories-button
                  span.burger-button.header__all-categories-burger
                  span All Categories
                  svg.header__all-categories-chevron: use(href= path.icon + "icon__chevron-down")
                ul.header__all-categories-dropdown.js-header-all-categories-content
                  each category in json.info.header.categories
                    li
                      a.header__all-categories-link(href=category.link)
                        svg.header__all-categories-icon: use(href= path.icon + category.icon)
                        span=  category.title

              ul.header__navigation-menu
                each nav, idx in json.info.header.navigation
                  li.header__navigation-menu-item
                    a.header__navigation-menu-link(href= nav.link, class= (idx === 0) ? "header__navigation-menu-link--active" : '')= nav.title
                      svg.header__navigation-link-icon: use(href= path.icon + "icon__chevron-down")
                    ul.header__navigation-drop-menu
                      each navItem in nav.items
                        li
                          a.header__navigation-drop-menu-link(href= navItem.link)= navItem.title

                li.header__navigation-menu-item
                  a.header__navigation-menu-link(href="#") About us
                li.header__navigation-menu-item
                  a.header__navigation-menu-link(href="#") Contact us
            +phone('(219) 555-0114')(class="header__phone")


    .header__mobile-menu.mobile-menu.js-mobile-menu
      .mobile-menu__content
        button.mobile-menu__close-button.close-button.js-close-mobile-menu-btn
          svg.close-button__icon: use(href= path.icon + 'icon__cross')
        .header__search--mobile.d-mobile
          +search-form(class="js-header-search-form")

        .mobile-menu__navigation
          .accordion
            each nav, idx in json.info.header.navigation
              li.accordion__item
                button.accordion__button.header__navigation-menu-link= nav.title
                  svg.accordion__chevron-icon: use(href= path.icon + "icon__chevron-down")
                ul.accordion__content
                  each navItem in nav.items
                    li.header__navigation-menu-item
                      a.header__navigation-menu-link(href= navItem.link)= navItem.title

          li.header__navigation-menu-item
            a.header__navigation-menu-link(href="#") About us
          li.header__navigation-menu-item
            a.header__navigation-menu-link(href="#") Contact us

        .mobile-menu__footer
          +phone('(219) 555-0114')(class="header__phone header__phone--mobile")
          .header__top-location.header__top-location--mobile
            svg.header__top-location-icon: use(href= path.icon + "icon__map-pin")
            span.header__top-location-text Store Location: Lincoln- 344, Illinois, Chicago, USA


