//- Все примеси в этом файле должны начинаться c имени блока (product-large)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin product-large(data, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +product-large( {
      "img": "product-large-mango.jpg",
      "title": "Surjapur Mango",
      "price": "$14.99",
      "priceOld": "",
      "rating": 4,
      "tags": null
    }, "some-mod")

  // список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " product-large--" + modsList[i].trim();
      }
    }

  .product-large(class=allMods)&attributes(attributes)
    .product-large__image-container
      if data.tags
        .product-large__tags
          each tag in data.tags
            .tag(class= "tag--" +tag.type)= tag.text
      .product-large__buttons
        button.button-round.button-round--like.product-large__image-button
          svg.button-round__icon: use(href= path.icon + "icon__heart")
        button.button-round.button-round--white-green.product-large__image-button
          svg.button-round__icon: use(href= path.icon + "icon__eye")
      img.product-large__image(src= path.img + data.img, alt="product-large")
    .product-large__description
      .product-large__description-text
        a.product-large__link(href="#")
          h3.product-large__title= data.title
        p.product-large__price
          span= data.price
          if data.priceOld
            span.product-large__price--old= data.priceOld
        .product-large__rating
          +star-rating(data.rating)
      button.button-round.product-large__button
        svg.button-round__icon: use(href= path.icon + "icon__cart")
