//- Все примеси в этом файле должны начинаться c имени блока (product)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin product(data, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +product( {
      "img": "product-mango.jpg",
      "title": "Surjapur Mango",
      "price": "$14.99",
      "priceOld": "",
      "rating": 4,
      "tags": null
    }, "some-mod")

  // список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " product--" + modsList[i].trim();
      }
    }

  .product(class=allMods)&attributes(attributes)
    .product__image-container
      if data.tags
        .product__tags
          each tag in data.tags
            .tag(class= "tag--" +tag.type)= tag.text
      .product__buttons
        button.button-round.button-round--like.product__image-button
          svg.button-round__icon: use(href= path.icon + "icon__heart")
        button.button-round.button-round--white-green.product__image-button
          svg.button-round__icon: use(href= path.icon + "icon__eye")
      img.product__image(src= path.img + data.img, alt="product")
    .product__description
      .product__description-text
        a(href="#")
          h3.product__title= data.title
        p.product__price
          span= data.price
          if data.priceOld
            span.product__price--old= data.priceOld
        .product__rating
          +star-rating(data.rating)
      button.button-round.product__button
        svg.button-round__icon: use(href= path.icon + "icon__cart")
